.login{
    display: flex;
}

.main-text{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 800;
    font-size: 191.975px;
    line-height: 237px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 250px;
    color: #000D34;
}

.first-part{
    width: 68%;
    margin: 40px 30px;
}

.second-part{
    border-left: 2px solid #F4F4F4;;
    width: 32%;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.time{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    color: rgba(9, 27, 80, 0.5);
    margin-top: 15px;
}

.undov{
    display: flex;
    margin-top: 65px;
}

.undov-text{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #122045;
    margin-left: 10px;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.inputs{
    background: #FAFAFA;
    border-radius: 2px;
    height: 70px;
    width: 100%;
    border: 0px solid transparent;
    margin: 15px;
    font-size: 32px;
    text-align: center;
    padding: 0 10px;
    outline: none;
}

.keyboard{
    background: #FAFAFA;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.btn-keyboard{
    background: #FFFFFF;
    border-radius: 4px;
    border: 0px solid transparent;
    width: 80px;
    height: 50px;
    margin: 10px;
    transition: all 0.3s ease-in-out;

    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000D34;
}

.btn-keyboard:hover{
    cursor: pointer;
    background-color: blanchedalmond;
    border: 0px solid transparent;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 150px;
}

.btn-back{
    background: #0084F4;
    border-radius: 2px;
    border: 1px solid transparent;
    height: 70px;
    width: 100%;
    border: 0px solid transparent;
    transition: all 0.3s ease-in-out;
}

.btn-back:hover{
    cursor: pointer;
    background-color: blanchedalmond;
    border: 1px solid #0084F4;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    .main-text{
        font-size: 180px;
        margin-top: 90px;
    }

    .logo{
        width: 350px;
        height: auto;
    }

    .time{
        font-size: 18px;
    }

    .undov{
        margin-top: 40px;
    }

    .undov-image{
        width: 60px;
        height: auto;
    }

    .undov-text{
        font-size: 20px;
    }

    .second-part{
        padding: 0 35px;
    }

    .inputs{
        font-size: 30px;
        height: 60px;
        margin: 15px;
    }

    .login-inputs{
        margin-top: 40px;
    }

    .btn-keyboard{
        width: 70px;
        height: 50px;
        font-size: 18px;
        margin: 5px;
    }

    .keyboard {
        padding: 20px;
    }

    .back{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .btn-back{
        height: 60px;
        font-size: 18px;
        margin-bottom: 0%;
    }

    .btn-back-image{
        width: 30px;
        height: auto;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .main-text{
        font-size: 130px;
        margin-top: 90px;
    }

    .logo{
        width: 230px;
        height: auto;
    }

    .time{
        font-size: 14px;
    }

    .undov{
        margin-top: 40px;
    }

    .undov-image{
        width: 40px;
        height: auto;
    }

    .undov-text{
        font-size: 16px;
    }

    .second-part{
        padding: 0 35px;
    }

    .inputs{
        font-size: 20px;
        height: 50px;
        margin: 10px;
    }

    .login-inputs{
        margin-top: 40px;
    }

    .btn-keyboard{
        width: 55px;
        height: 40px;
        font-size: 14px;
        margin: 5px;
    }

    .keyboard {
        padding: 10px;
    }

    .back{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .btn-back{
        height: 50px;
        font-size: 14px;
        margin-bottom: 0%;
    }

    .btn-back-image{
        width: 20px;
        height: auto;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .main-text{
        font-size: 130px;
        margin-top: 90px;
    }

    .logo{
        width: 230px;
        height: auto;
    }

    .time{
        font-size: 14px;
    }

    .undov{
        margin-top: 40px;
    }

    .undov-image{
        width: 30px;
        height: auto;
    }

    .undov-text{
        font-size: 14px;
    }

    .second-part{
        padding: 0 35px;
    }

    .inputs{
        font-size: 20px;
        height: 50px;
        margin: 10px;
    }

    .login-inputs{
        margin-top: 40px;
    }

    .btn-keyboard{
        width: 50px;
        height: 30px;
        font-size: 14px;
        margin: 5px;
    }

    .keyboard {
        padding: 10px;
    }

    .back{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .btn-back{
        height: 50px;
        font-size: 14px;
        margin-bottom: 0%;
    }

    .btn-back-image{
        width: 20px;
        height: auto;
    }
 }

