*, *::after, *::before {
  box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.orders{
    display: flex;
    background-color: #FAFAFA;
}

.orders-data{
    width: 68%;
    padding: 70px 30px;
}

.orders-data__category--elements{
    padding-right: 300px;
}

.orders-summary{
    border-left: 2px solid #F4F4F4;;
    width: 32%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.orders-summary__menu{
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    margin-top: 16px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.category--elements-btn{
    background: #FFFFFF;
    border: 2px solid #0084F4;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    transition: all 0.3s ease-in-out;

    font-family: 'Splash', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000D34;
}

.category--elements-btn:hover {
    background-color: #0084F4;
    color: #F4F4F4;
    cursor: pointer;
}

.product--elements-btn {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    border: 0px;
    transition: all 0.3s ease-in-out;
    padding: 15px 30px;
    margin: 10px;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #000D34;
    opacity: 0.9;
}

.product--elements-btn:hover{
    background: #B7DDF4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    cursor: pointer;

    font-family: 'Lexend';
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #000D34;
}

.orders-data__product{
    margin-top: 100px;
}

.orders-data__product--elements{
    justify-content: space-between;
    width: 100%;
}

.menu-btn{
    background-color: transparent;
    border: 0px solid transparent;
    cursor: pointer;
}

.orders-summary__elements--header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    color: rgba(9, 27, 80, 0.6);
    opacity: 0.7;
}

.orders-summary__elements--body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000D34;
    opacity: 0.8;
}

.products-detail{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    border-bottom: 1px solid #ECEEF2;
    margin: 0%;
}

.products-detail__name{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000D34;
}

.products-detail__price{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    color: #020739;
    opacity: 0.5;
}

.btn-sold{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 27px 10px;
    margin-top: 500px;
    width: 100%;
    background: #0084F4;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    border: 0 solid transparent;

    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-sold:hover{
    background-color: #B7DDF4;
    border: 0px solid transparent;
    cursor: pointer;
    color: #0084F4;
}

.orders-summary__elements--btn{
    padding: 0px 50px; 
    margin-bottom: 20px
}

@media (max-width: 1399.98px) { 
    .orders-data{
        padding: 65px 25px;
    }
    
    .orders-summary__menu{
        padding: 0px 20px;
    }

    .menu-btn__img{
        width:20px;
        height:20px;
    }
    
    .category--elements-btn{
        padding: 18px;
        margin: 8px;
        font-size: 16px;
        line-height: 16px;
    }
    
    .product--elements-btn{
        padding: 13px 28px;
        margin: 8px;
        font-size: 16px;
    }

    .orders-data__product{
        margin-top: 85px;
    }
    
    .orders-summary__elements--header{
        margin-top: 18px;
        font-size: 20px;
    }
    
    .orders-summary__elements--body{
        margin-top: 18px;
        font-size: 20px;
    }
    
    .products-detail{
        padding: 26px;
    }
    
    .products-detail__name{
        font-size: 18px;
    }
    
    .products-detail__price{
        font-size: 18px;
    }
    
    .btn-sold{
        padding: 25px 8px;
        margin-top: 450px;
        font-size: 24px;
        line-height: 18px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .orders-data{
        padding: 60px 20px;
    }
    
    .orders-summary__menu{
        padding: 0px 20px;
    }

    .product--elements-btn:hover{
        font-size: 14px;
    }

    .menu-btn__img{
        width:18px;
        height:18px;
    }
    
    .category--elements-btn{
        padding: 16px;
        margin: 6px;
        font-size: 14px;
        line-height: 14px;
    }
    
    .product--elements-btn{
        padding: 11px 26px;
        margin: 8px;
        font-size: 14px;
    }

    .orders-data__product{
        margin-top: 70px;
    }
    
    .orders-summary__elements--header{
        margin-top: 16px;
        font-size: 18px;
    }
    
    .orders-summary__elements--body{
        margin-top: 16px;
        font-size: 18px;
    }
    
    .products-detail{
        padding: 24px;
    }
    
    .products-detail__name{
        font-size: 16px;
    }
    
    .products-detail__price{
        font-size: 16px;
    }
    
    .btn-sold{
        padding: 23px 6px;
        margin-top: 300px;
        font-size: 22px;
        line-height: 16px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .orders-data{
        padding: 55px 15px;
    }
    
    .orders-summary__menu{
        padding: 0px 20px;
    }

    .product--elements-btn:hover{
        font-size: 12px;
    }

    .menu-btn__img{
        width:16px;
        height:16px;
    }
    
    .category--elements-btn{
        padding: 14px;
        margin: 4px;
        font-size: 12px;
        line-height: 12px;
    }
    
    .product--elements-btn{
        padding: 9px 24px;
        margin: 8px;
        font-size: 14px;
    }

    .orders-data__product{
        margin-top: 55px;
    }
    
    .orders-summary__elements--header{
        margin-top: 14px;
        font-size: 16px;
    }
    
    .orders-summary__elements--body{
        margin-top: 14px;
        font-size: 16px;
    }
    
    .products-detail{
        padding: 22px;
    }
    
    .products-detail__name{
        font-size: 14px;
    }
    
    .products-detail__price{
        font-size: 14px;
    }
    
    .btn-sold{
        padding: 21px 4px;
        margin-top: 300px;
        font-size: 20px;
        line-height: 14px;
    }
 }