.orders{
    display: flex;
    background-color: #FAFAFA;
}

.first-part{
    width: 68%;
    padding: 70px 30px;
}

.second-part{
    border-left: 2px solid #F4F4F4;;
    width: 32%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
}


.order-header-text{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: rgba(9, 27, 80, 0.6);
}

.orders-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.header{
    background: #FFFFFF;
    border-bottom: 1px solid #ECEEF2;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.header-element{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 16.4155px;
    line-height: 100%;
    text-align: center;
    color: rgba(9, 27, 80, 0.6);
    padding: 30px 45px;
}

.header-element-num{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 600;
    font-size: 16.4155px;
    line-height: 100%;
    text-align: center;
    color: rgba(9, 27, 80, 0.6);
    padding: 30px 45px;
}

.body{
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECEEF2;
}

.body-element{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 18.7606px;
    line-height: 100%;
    text-align: center;
    padding: 20px 30px;
    color: #091B50;

}

.body-element-num{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 600;
    font-size: 18.7606px;
    line-height: 100%;
    text-align: center;
    padding: 20px 30px;
    color: #091B50;
}

.img-body-element{
    margin: 0px 5px;
    cursor: pointer;
}

.btn-page{
    background-color: rgba(9, 27, 80, 0.05);
    opacity: 0.5;
    border-radius: 11.2px;
    width: 50px;
    height: 50px;
    border: 0px solid transparent;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-page:hover{
    cursor: pointer;
    background-color: rgba(9, 27, 80, 0.05);
    opacity: 0.99;
    border: 0px solid transparent;
}

.page-index{
    color: rgba(9, 27, 80, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination{
    padding: 50px;
    display: flex;
    right: 0px;
    justify-content: right;
    margin-top: 350px;
}

.time{
    padding: 0px 20px;
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    color: rgba(9, 27, 80, 0.5);
    margin-top: 15px;
}

.btn-tray{
    background: #FFFFFF;
    border: 1px solid #ECEEF2;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    height: 70px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.btn-tray:hover{
    cursor: pointer;
    background-color: aquamarine;
    border: 1px solid #ECEEF2;
}

.btn-order-tray{
    display: flex;
    margin-top: 30px;
}

.second-part-elements{
    padding: 0px 25px;
}

.orders-table-element{
    display: flex; 
    justify-content: space-between;
}

.order-cash-text{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #01081F;
    margin-top: 60px;
}

.order-cash-header{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000D34;
    padding: 5px 0px;
}

.order-cash-body{
    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #153B6F;
    opacity: 0.8;
    padding: 5px 0px;
}

.orders-btn{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 60px;
}

.btn-orders-btn{
    box-sizing: border-box;
    width: 390px;
    height: 78px;
    background: #FFFFFF;
    border: 1.4px solid #ECEEF2;
    border-radius: 2px;
    margin-bottom: 20px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.btn-orders-btn:hover{
    cursor: pointer;
    background-color: antiquewhite;
}

.input{
    box-sizing: border-box;
    width: 390px;
    height: 78px;
    background: #FFFFFF;
    border: 1.4px solid #ECEEF2;
    border-radius: 2px;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    font-size: 32px;
    text-align: center;
    padding: 0 10px;
}

.keyboard{
    background: #FAFAFA;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.btn-keyboard{
    background: #FFFFFF;
    border-radius: 4px;
    border: 0px solid transparent;
    width: 80px;
    height: 50px;
    margin: 10px;
    transition: all 0.3s ease-in-out;

    font-family: 'Averta CY';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #000D34;
}

.btn-keyboard:hover{
    cursor: pointer;
    background-color: blanchedalmond;
    border: 0px solid transparent;
}

.space-buttons{
    margin: 0px 20px;
}


@media (max-width: 1399.98px) { 
    .first-part{
        padding: 40px 20px 0 20px;
    }
    .order-header-text{
        font-size: 20px;
        margin-top: 0;
    }

    .orders-table{
        margin-top: 20px;
    }

    .header-element{
        font-size: 18px;
        padding: 20px 10px;
    }

    .header-element-num{
        font-size: 18px;
        padding: 20px 10px;
    }

    .body-element{
        font-size: 18px;
        padding: 20px 10px;
    }

    .body-element-num{
        font-size: 18px;
        padding: 20px 10px;
    }

    .img-body-element{
        width: 25px;
        height: auto;
    }

    .pagination{
        padding: 40px;
    }

    .btn-page{
        font-size: 16px;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .page-index{
        font-size: 16px;
    }

    .time{
        font-size: 18px;
        margin: 0;
        padding: 0 10px;
    }
    
    .second-part{
        padding: 0;
    }

    .second-part-elements{
        margin-top: 30px;
    }

    .space-buttons{
        margin: 0px 10px;
    }

    .btn-tray{
        width: 100%;
        height: 50px;
        padding: 0;
    }

    .orders-table-element{
        padding: 3px 0;
    }

    .btn-tray-image{
        width: 55px;
        height: auto;
    }

    .btn-order-tray{
        margin-top: 20px;
    }

    .order-cash-text{
        font-size: 20px;
        margin-top: 40px;
    }

    .order-cash-header{
        font-size: 20px;
        padding: 0%;
    }

    .order-cash-body{
        font-size: 20px;
        padding: 0%;
    }

    .orders-info{
        margin-top: 0;
    }

    .order-cash-body-element{
        width: 120px;
    }

    .orders-btn{
        margin-top: 80px;
        margin-bottom: 10px;
    }

    .btn-orders-btn{
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
    }
    
    .btn-keyboard{
        width: 70px;
        height: 50px;
        font-size: 18px;
        margin: 5px;
    }

    .keyboard {
        padding: 20px;
    }

    .input{
        height: 60px;
        border-radius: 2px;
        margin-bottom: 15px;
        width: 100%;
        font-size: 28px;
        padding: 0 10px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    
    .first-part{
        padding: 40px 20px 0 20px;
    }
    .order-header-text{
        font-size: 18px;
        margin-top: 0;
    }

    .orders-table{
        margin-top: 10px;
    }

    .header-element{
        font-size: 16px;
        padding: 15px 5px;
    }

    .header-element-num{
        font-size: 16px;
        padding: 15px 5px;
    }

    .body-element{
        font-size: 16px;
        padding: 15px 5px;
    }

    .body-element-num{
        font-size: 16px;
        padding: 15px 5px;
    }

    .img-body-element{
        width: 20px;
        height: auto;
    }

    .pagination{
        padding: 20px;
    }

    .btn-page{
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .page-index{
        font-size: 14px;
    }

    .time{
        font-size: 16px;
        margin: 0;
        padding: 0 10px;
    }
    
    .second-part{
        padding: 0;
    }

    .space-buttons{
        margin: 0px 10px;
    }

    .btn-tray{
        width: 100%;
        height: 40px;
        padding: 0;
    }

    .btn-tray-image{
        width: 50px;
        height: auto;
    }

    .btn-order-tray{
        margin-top: 20px;
    }

    .order-cash-text{
        font-size: 18px;
        margin-top: 20px;
    }

    .order-cash-header{
        font-size: 18px;
        padding: 0%;
    }

    .order-cash-body{
        font-size: 18px;
        padding: 0%;
    }

    .orders-info{
        margin-top: 0;
    }

    .order-cash-body-element{
        width: 80px;
    }

    .pagination{
        padding: 0px;
    }

    .orders-btn{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .btn-orders-btn{
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }

    .btn-keyboard{
        width: 55px;
        height: 40px;
        font-size: 14px;
        margin: 5px;
    }

    .keyboard {
        padding: 10px;
    }

    .input{
        height: 50px;
        border-radius: 2px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 20px;
        padding: 0 10px;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

    .first-part{
        padding: 40px 20px 0 20px;
    }
    .order-header-text{
        font-size: 16px;
        margin-top: 0;
    }

    .orders-table{
        margin-top: 10px;
    }

    .header-element{
        font-size: 12px;
        padding: 15px 5px;
    }

    .header-element-num{
        font-size: 12px;
        padding: 15px 5px;
    }

    .body-element{
        font-size: 12px;
        padding: 15px 5px;
    }

    .body-element-num{
        font-size: 12px;
        padding: 15px 5px;
    }

    .img-body-element{
        width: 20px;
        height: auto;
    }

    .pagination{
        padding: 5px;
    }

    .btn-page{
        font-size: 12px;
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .page-index{
        font-size: 12px;
    }

    .time{
        font-size: 14px;
        margin: 0;
        padding: 0 10px;
    }
    
    .second-part{
        padding: 0;
    }

    .space-buttons{
        margin: 0px 10px;
    }

    .btn-tray{
        width: 100%;
        height: 40px;
        padding: 0;
    }

    .btn-tray-image{
        width: 50px;
        height: auto;
    }

    .btn-order-tray{
        margin-top: 20px;
    }

    .order-cash-text{
        font-size: 16px;
        margin-top: 20px;
    }

    .order-cash-header{
        font-size: 16px;
        padding: 0%;
    }

    .order-cash-body{
        font-size: 16px;
        padding: 0%;
    }

    .orders-info{
        margin-top: 0;
    }

    .order-cash-body-element{
        width: 80px;
    }

    .orders-btn{
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .btn-orders-btn{
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }

    .btn-keyboard{
        width: 50px;
        height: 30px;
        font-size: 14px;
        margin: 5px;
    }

    .keyboard {
        padding: 10px;
    }

    .input{
        height: 50px;
        border-radius: 2px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 20px;
        padding: 0 10px;
    }
 }